@import "utils";

// Mixins ---------------------------------------------
@mixin initCard ( $n, $increment, $value )
{
	@for $i from 0 through $n - 1 {
    &:nth-child(#{$i + 1}) {
      left : #{10 * $i * $value};
      @if   $increment == 1 { z-index: $i; }
      @else { z-index: $n + 1 - $i; }
    }
  }
}

// Utils ----------------------------------------------
* { margin: 0; padding: 0; }
body, html { width: 100%; height: 100%; }
.desactivate { opacity: 0.2; }

// Game -----------------------------------------------
#game {
  background-color: #466d19;
  @include gradient-radial(#65981e, #184d08);
  overflow: hidden;
  position: relative;
  width: 100%; height: 100%;
  font: 400 16px/1.4 'futura-pt', Helvetica, Arial, sans-serif;
  
  h1 {
    font: 5em/1 'bello-pro','Cooper STD', Georgia, serif;
    margin: 5% auto;
    color: #507c18;
//    color: rgba(80,124,24,0.2);
    text-align: center;
    text-shadow: 0px 0px 1px rgba(25,48,0,0.1), 0px 1px 0px rgba(152,184,42,0.3);
  }
  
  .shortcut {
    display: block;
    padding: 1em 0;
    color: #77a421;
    font-size: 0.65em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
//  #dealer-cards { display: none; }

// UI -------------------------------------------------
#ui {
  position: relative;
  top: 0;
  width: 90%;
  // max-width: 1280px;
  max-width: 1024px;
  margin: 40px auto;
  clear: both;
  color: #dce4c9;

  .zone {
    width: auto;
    overflow: hidden;
    border: 9px solid #809d29;
    border-color: rgba(208,209,78,0.3);
    padding: 2%;
    @include rounded(30px);
    
    div, ul {
      width: 20%;
      float: left;
    }
    #bankroll {
      font-size: 4.5em;
      margin-right: 5%;
      text-align: center;
    }

    #deal, #actions {
      width: 50%;
      margin: auto;
      text-align: center;
      list-style: none;
      
       a, li a {
         
          background-color: #ffe000;
          position: relative;
          @include gradient-top-bottom(#ffec01,#ffc900);
          display: block;
          padding: 5% 5% 3.875% 5%;
          color: #724a0e;
          font: 2.5em/1 'bello-pro','Cooper STD', Georgia, serif;
          text-decoration: none;
          text-shadow: 0 1px 0px rgba(255,255,255,0.3), 0px -1px 0px rgba(0,0,0,0.2);
          @include box-shadow(#{
              inset 0px 2px 0 rgba(255,255,255,0.3), 
              inset 0px -2px 0 rgba(255,255,255,0.1), 
              0px 5px 0px 0px #daa206, 
              0px 5px 0px 2px rgba(0,0,0,0.2)});
          @include rounded(12px);
          @include transition(box-shadow 50ms ease-out);
          
          &:hover, &:focus { @include box-shadow(#{inset 0px 2px 0 rgba(255,255,255,0.3), inset 0px -2px 0 rgba(255,255,255,0.1), 0px 5px 0px 0px #daa206, 0px 5px 0px 2px rgba(0,0,0,0.2), 0 0 30px rgba(255,246,0,0.8)}); };
          &:active, &.active {
            top: 2px;
            @include box-shadow(#{
              inset 0px 2px 0 rgba(255,255,255,0.3), 
              inset 0px -2px 0 rgba(255,255,255,0.1), 
              0px 3px 0px 0px #daa206, 
              0px 3px 0px 2px rgba(0,0,0,0.2)});
          }
        }

        li{
          display: block;
          width: 28%;
          margin: 0 2%;
          float: left;
          a {
            padding: 1.25em 0;
            font-size: 1.5em;
          }
        } 
    }
    
    
    
  }
  .total {
    background-color: #809d29;
    background-color: rgba(208,209,78,0.3);
    width: 25%;
    margin: 0 auto;
    padding: 1em 0;
    color: #47861a;
    font-size: 1em;
    letter-spacing: 0.15em;
    text-align: center;
    text-transform: uppercase;
    @include rounded(9px 9px 0px 0px);
  }
  .total.bot {
    @include rounded( 0 0 9px 9px);
  }
  
  #chips {
    position: absolute;
    top: 25%;
    right: -15%;
  }
  

    #actions { display: none; }
  }
  
  #player-cards, #dealer-cards {
    position: absolute;
    left: 50%;
    //margin: 0 0 0 -25%;
    width: 100%; height: 460px;
    @include transition(all 200ms ease-out);
    
    .card {
      position: absolute;
      top: 0; left: 0;
      @include transition(all 250ms ease-in-out);
      @include box-shadow(0 1px 3px rgba(0,0,0,0.2));
    }
  }
  
  #dealer-cards {
    top: -250px;
    
    .card { @include initCard(10, -1, 1%); }
  }
  
  #player-cards {
    bottom: -250px;
    
    .card { @include initCard(10, 1, 1%); }
  }
  
  #player-total, #dealer-total { font-size: 2em; }
}

// Chips ----------------------------------------------
.chip {
  cursor: pointer;
  float: left;
  margin: 0 10px 0 0;
  padding: 4px;
	//background-color: #007cff;
	position: relative;
	width: 100px;
	height: 100px;
	border-radius: 100%;
	border: 10px dashed #fff;
	//@include box-shadow(#{0 0 0px #0263e6, 0 1px 0px #0263e6, 0 2px 0px #0263e6, 0 3px 0px #0263e6, 0 4px 0px #0263e6, 0 -1px 0px #01afff});
	@include noselect();
	
//  -webkit-transform: perspective(500px) rotateX(45deg); Only for wide wide screens?
	
	span {
		display: block;
		width: 100%;
		height: 100%;
		border-radius: 100%;
		color: #fff;
		font-size: 2em;
		line-height: 102px;
		text-align: center;
		text-shadow: 0 -1px 0px rgba(0,0,0,0.3);
	}
}

.chip.bet {
//  box-shadow: 0 0 0px #b00, 0 1px 0px #a00, 0 2px 0px #a00, 0 3px 0px #a00, 0 4px 0px #a00, 0 0 15px #f00;
}

.chip.blue {
  background-color: #007cff;
  @include box-shadow(#{0 0 0px #0263e6, 0 1px 0px #0263e6, 0 2px 0px #0263e6, 0 3px 0px #0263e6, 0 4px 0px #0263e6, 0 -1px 0px #01afff});
  
  span {
    background-color: #0261f1;
    @include gradient-top-bottom(#037ff4, #0274f3);
    @include box-shadow(#{0 0 0 3px #0277f4, 0 -1px 0 3px #0265f1, 0 1px 0 3px #008dff, inset 0 1px 1px #0784ff, inset 0 -1px 0px #0261f1});
  }
}

.chip.red {
  background-color: #f54800;
  @include box-shadow(#{0 0 0px #de2e04, 0 1px 0px #de2e04, 0 2px 0px #de2e04, 0 3px 0px #de2e04, 0 4px 0px #de2e04, 0 -1px 0px #ff6d02});
  
  span {
    background-color: #eb4603;
    @include gradient-top-bottom(#ef4d00, #ed4300);
    @include box-shadow(#{0 0 0 3px #eb4503, 0 -1px 0 3px #de3400, 0 1px 0 3px #ff5100, inset 0 1px 1px #fd5410, inset 0 -1px 0px #de3400});
  }
}

.chip.yellow {
  background-color: #f3cf00;
  @include box-shadow(#{0 0 0px #cdaf00, 0 1px 0px #cdaf00, 0 2px 0px #cdaf00, 0 3px 0px #cdaf00, 0 4px 0px #cdaf00, 0 -1px 0px #fddc00});
  
  span {
    background-color: #ebc700;
    @include gradient-top-bottom(#ecc300, #ebcd00);
    @include box-shadow(#{0 0 0 3px #eec900, 0 -1px 0 3px #ceaf00, 0 1px 0 3px #e9dc00, inset 0 1px 1px #e9dc00, inset 0 -1px 0px #ceaf00});
  }
}



// Cards ----------------------------------------------
.card {
  font-size: 1.5em;
  position: relative;
  width: 300px; height: 460px;
  background-color: #f9f9f9;
  border-radius: 20px;
  @include box-shadow(0 0 5px rgba(0,0,15px,0.2));
  @include noselect();
  
  div {
    position: absolute;
    &:first-child { top: 2%; left: 5%; }
    &:last-child { bottom: 2%; right: 5%; @include rotate(180deg); }
    
    span {
      text-align: center;
      display: block;
    }
    
    .icons {
      position: absolute;
      top: 0; left: 0;
      width: 1px; height: 1px;
      
      & > div { position: relative; }
    }
  }
}

.card.back {
  background-color: #fd4000;
  background: #fd4000 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAKCAYAAACJxx+AAAAATElEQVQYGWP4/9XN+P///wy4MEQClyKgOEInuiIoH6EAZA1MEYwGiqEqQFYEdRcTAwFAUAGqFTC7YTSKG5AEwWEC5UNMQJeEOhDkKwDfGrdliFgHkAAAAABJRU5ErkJggg==);  
}

.card.hearts, .card.diamonds { color: #c00; }
.card.spades, .card.clubs { color: #111; }