* {
  margin: 0;
  padding: 0; }

body, html {
  width: 100%;
  height: 100%; }

.desactivate {
  opacity: 0.2; }

#game {
  background-color: #466d19;
  background-image: -webkit-radial-gradient(center center, ellipse farthest-corner, #65981e, #184d08);
  background-image: -moz-radial-gradient(center center, ellipse farthest-corner, #65981e, #184d08);
  background-image: -ms-radial-gradient(center center, ellipse farthest-corner, #65981e, #184d08);
  background-image: -o-radial-gradient(center center, ellipse farthest-corner, #65981e, #184d08);
  background-image: -khtml-radial-gradient(center center, ellipse farthest-corner, #65981e, #184d08);
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  font: 400 16px/1.4 "futura-pt", Helvetica, Arial, sans-serif; }
  #game h1 {
    font: 5em/1 "bello-pro", "Cooper STD", Georgia, serif;
    margin: 5% auto;
    color: #507c18;
    text-align: center;
    text-shadow: 0px 0px 1px rgba(25, 48, 0, 0.1), 0px 1px 0px rgba(152, 184, 42, 0.3); }
  #game .shortcut {
    display: block;
    padding: 1em 0;
    color: #77a421;
    font-size: 0.65em;
    letter-spacing: 0.1em;
    text-transform: uppercase; }
  #game #ui {
    position: relative;
    top: 0;
    width: 75%;
    max-width: 1024px;
    margin: 40px auto;
    clear: both;
    color: #dce4c9; }
    #game #ui .zone {
      width: auto;
      overflow: hidden;
      border: 9px solid #809d29;
      border-color: rgba(208, 209, 78, 0.3);
      padding: 2%;
      -webkit-border-radius: 30px;
      -khtml-border-radius: 30px;
      -moz-border-radius: 30px;
      -ms-border-radius: 30px;
      -o-border-radius: 30px;
      border-radius: 30px; }
      #game #ui .zone div, #game #ui .zone ul {
        width: 20%;
        float: left; }
      #game #ui .zone #bankroll {
        font-size: 4.5em;
        margin-right: 5%;
        text-align: center; }
      #game #ui .zone #deal, #game #ui .zone #actions {
        width: 50%;
        margin: auto;
        text-align: center;
        list-style: none; }
        #game #ui .zone #deal a, #game #ui .zone #deal li a, #game #ui .zone #actions a, #game #ui .zone #actions li a {
          background-color: #ffe000;
          position: relative;
          background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ffc900), color-stop(1, #ffec01));
          background-image: -moz-linear-gradient(center bottom, #ffc900 0%, #ffec01 100%);
          display: block;
          padding: 5% 5% 3.875% 5%;
          color: #724a0e;
          font: 2.5em/1 "bello-pro", "Cooper STD", Georgia, serif;
          text-decoration: none;
          text-shadow: 0 1px 0px rgba(255, 255, 255, 0.3), 0px -1px 0px rgba(0, 0, 0, 0.2);
          -webkit-box-shadow: inset 0px 2px 0 rgba(255, 255, 255, 0.3), inset 0px -2px 0 rgba(255, 255, 255, 0.1), 0px 5px 0px 0px #daa206, 0px 5px 0px 2px rgba(0, 0, 0, 0.2);
          -khtml-box-shadow: inset 0px 2px 0 rgba(255, 255, 255, 0.3), inset 0px -2px 0 rgba(255, 255, 255, 0.1), 0px 5px 0px 0px #daa206, 0px 5px 0px 2px rgba(0, 0, 0, 0.2);
          -moz-box-shadow: inset 0px 2px 0 rgba(255, 255, 255, 0.3), inset 0px -2px 0 rgba(255, 255, 255, 0.1), 0px 5px 0px 0px #daa206, 0px 5px 0px 2px rgba(0, 0, 0, 0.2);
          -ms-box-shadow: inset 0px 2px 0 rgba(255, 255, 255, 0.3), inset 0px -2px 0 rgba(255, 255, 255, 0.1), 0px 5px 0px 0px #daa206, 0px 5px 0px 2px rgba(0, 0, 0, 0.2);
          -o-box-shadow: inset 0px 2px 0 rgba(255, 255, 255, 0.3), inset 0px -2px 0 rgba(255, 255, 255, 0.1), 0px 5px 0px 0px #daa206, 0px 5px 0px 2px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0px 2px 0 rgba(255, 255, 255, 0.3), inset 0px -2px 0 rgba(255, 255, 255, 0.1), 0px 5px 0px 0px #daa206, 0px 5px 0px 2px rgba(0, 0, 0, 0.2);
          -webkit-border-radius: 12px;
          -khtml-border-radius: 12px;
          -moz-border-radius: 12px;
          -ms-border-radius: 12px;
          -o-border-radius: 12px;
          border-radius: 12px;
          -webkit-transition: box-shadow 50ms ease-out;
          -khtml-transition: box-shadow 50ms ease-out;
          -moz-transition: box-shadow 50ms ease-out;
          -ms-transition: box-shadow 50ms ease-out;
          -o-transition: box-shadow 50ms ease-out;
          transition: box-shadow 50ms ease-out; }
          #game #ui .zone #deal a:hover, #game #ui .zone #deal a:focus, #game #ui .zone #deal li a:hover, #game #ui .zone #deal li a:focus, #game #ui .zone #actions a:hover, #game #ui .zone #actions a:focus, #game #ui .zone #actions li a:hover, #game #ui .zone #actions li a:focus {
            -webkit-box-shadow: inset 0px 2px 0 rgba(255, 255, 255, 0.3), inset 0px -2px 0 rgba(255, 255, 255, 0.1), 0px 5px 0px 0px #daa206, 0px 5px 0px 2px rgba(0, 0, 0, 0.2), 0 0 30px rgba(255, 246, 0, 0.8);
            -khtml-box-shadow: inset 0px 2px 0 rgba(255, 255, 255, 0.3), inset 0px -2px 0 rgba(255, 255, 255, 0.1), 0px 5px 0px 0px #daa206, 0px 5px 0px 2px rgba(0, 0, 0, 0.2), 0 0 30px rgba(255, 246, 0, 0.8);
            -moz-box-shadow: inset 0px 2px 0 rgba(255, 255, 255, 0.3), inset 0px -2px 0 rgba(255, 255, 255, 0.1), 0px 5px 0px 0px #daa206, 0px 5px 0px 2px rgba(0, 0, 0, 0.2), 0 0 30px rgba(255, 246, 0, 0.8);
            -ms-box-shadow: inset 0px 2px 0 rgba(255, 255, 255, 0.3), inset 0px -2px 0 rgba(255, 255, 255, 0.1), 0px 5px 0px 0px #daa206, 0px 5px 0px 2px rgba(0, 0, 0, 0.2), 0 0 30px rgba(255, 246, 0, 0.8);
            -o-box-shadow: inset 0px 2px 0 rgba(255, 255, 255, 0.3), inset 0px -2px 0 rgba(255, 255, 255, 0.1), 0px 5px 0px 0px #daa206, 0px 5px 0px 2px rgba(0, 0, 0, 0.2), 0 0 30px rgba(255, 246, 0, 0.8);
            box-shadow: inset 0px 2px 0 rgba(255, 255, 255, 0.3), inset 0px -2px 0 rgba(255, 255, 255, 0.1), 0px 5px 0px 0px #daa206, 0px 5px 0px 2px rgba(0, 0, 0, 0.2), 0 0 30px rgba(255, 246, 0, 0.8); }
          #game #ui .zone #deal a:active, #game #ui .zone #deal a.active, #game #ui .zone #deal li a:active, #game #ui .zone #deal li a.active, #game #ui .zone #actions a:active, #game #ui .zone #actions a.active, #game #ui .zone #actions li a:active, #game #ui .zone #actions li a.active {
            top: 2px;
            -webkit-box-shadow: inset 0px 2px 0 rgba(255, 255, 255, 0.3), inset 0px -2px 0 rgba(255, 255, 255, 0.1), 0px 3px 0px 0px #daa206, 0px 3px 0px 2px rgba(0, 0, 0, 0.2);
            -khtml-box-shadow: inset 0px 2px 0 rgba(255, 255, 255, 0.3), inset 0px -2px 0 rgba(255, 255, 255, 0.1), 0px 3px 0px 0px #daa206, 0px 3px 0px 2px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: inset 0px 2px 0 rgba(255, 255, 255, 0.3), inset 0px -2px 0 rgba(255, 255, 255, 0.1), 0px 3px 0px 0px #daa206, 0px 3px 0px 2px rgba(0, 0, 0, 0.2);
            -ms-box-shadow: inset 0px 2px 0 rgba(255, 255, 255, 0.3), inset 0px -2px 0 rgba(255, 255, 255, 0.1), 0px 3px 0px 0px #daa206, 0px 3px 0px 2px rgba(0, 0, 0, 0.2);
            -o-box-shadow: inset 0px 2px 0 rgba(255, 255, 255, 0.3), inset 0px -2px 0 rgba(255, 255, 255, 0.1), 0px 3px 0px 0px #daa206, 0px 3px 0px 2px rgba(0, 0, 0, 0.2);
            box-shadow: inset 0px 2px 0 rgba(255, 255, 255, 0.3), inset 0px -2px 0 rgba(255, 255, 255, 0.1), 0px 3px 0px 0px #daa206, 0px 3px 0px 2px rgba(0, 0, 0, 0.2); }
        #game #ui .zone #deal li, #game #ui .zone #actions li {
          display: block;
          width: 28%;
          margin: 0 2%;
          float: left; }
          #game #ui .zone #deal li a, #game #ui .zone #actions li a {
            padding: 1.25em 0;
            font-size: 1.5em; }
    #game #ui .total {
      background-color: #809d29;
      background-color: rgba(208, 209, 78, 0.3);
      width: 25%;
      margin: 0 auto;
      padding: 1em 0;
      color: #47861a;
      font-size: 1em;
      letter-spacing: 0.15em;
      text-align: center;
      text-transform: uppercase;
      -webkit-border-radius: 9px 9px 0px 0px;
      -khtml-border-radius: 9px 9px 0px 0px;
      -moz-border-radius: 9px 9px 0px 0px;
      -ms-border-radius: 9px 9px 0px 0px;
      -o-border-radius: 9px 9px 0px 0px;
      border-radius: 9px 9px 0px 0px; }
    #game #ui .total.bot {
      -webkit-border-radius: 0 0 9px 9px;
      -khtml-border-radius: 0 0 9px 9px;
      -moz-border-radius: 0 0 9px 9px;
      -ms-border-radius: 0 0 9px 9px;
      -o-border-radius: 0 0 9px 9px;
      border-radius: 0 0 9px 9px; }
    #game #ui #chips {
      position: absolute;
      top: 25%;
      right: 0; }
      #game #ui #chips .chip {
        position: absolute;
        top: 0;
        left: 0;
        -webkit-transition: all 250ms ease-out;
        -khtml-transition: all 250ms ease-out;
        -moz-transition: all 250ms ease-out;
        -ms-transition: all 250ms ease-out;
        -o-transition: all 250ms ease-out;
        transition: all 250ms ease-out; }
      #game #ui #chips .chip:nth-child(1) {
        left: auto;
        right: 10px; }
        #game #ui #chips .chip:nth-child(1)::before {
          display: none; }
      #game #ui #chips .chip:nth-child(2) {
        left: 10px;
        top: -50px; }
        #game #ui #chips .chip:nth-child(2)::before {
          top: -25%; }
      #game #ui #chips .chip:nth-child(3) {
        left: 10px;
        top: 50px; }
        #game #ui #chips .chip:nth-child(3)::before {
          top: 115%; }
    #game #ui #actions {
      display: none; }
  #game #player-cards, #game #dealer-cards {
    position: absolute;
    left: 50%;
    width: 100%;
    height: 460px;
    -webkit-transition: all 200ms ease-out;
    -khtml-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out; }
    #game #player-cards .card, #game #dealer-cards .card {
      position: absolute;
      top: 0;
      left: 0;
      -webkit-transition: all 250ms ease-in-out;
      -khtml-transition: all 250ms ease-in-out;
      -moz-transition: all 250ms ease-in-out;
      -ms-transition: all 250ms ease-in-out;
      -o-transition: all 250ms ease-in-out;
      transition: all 250ms ease-in-out;
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
      -khtml-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
      -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
      -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); }
  #game #dealer-cards {
    top: -250px; }
    #game #dealer-cards .card:nth-child(1) {
      left: 0%;
      z-index: 11; }
    #game #dealer-cards .card:nth-child(2) {
      left: 10%;
      z-index: 10; }
    #game #dealer-cards .card:nth-child(3) {
      left: 20%;
      z-index: 9; }
    #game #dealer-cards .card:nth-child(4) {
      left: 30%;
      z-index: 8; }
    #game #dealer-cards .card:nth-child(5) {
      left: 40%;
      z-index: 7; }
    #game #dealer-cards .card:nth-child(6) {
      left: 50%;
      z-index: 6; }
    #game #dealer-cards .card:nth-child(7) {
      left: 60%;
      z-index: 5; }
    #game #dealer-cards .card:nth-child(8) {
      left: 70%;
      z-index: 4; }
    #game #dealer-cards .card:nth-child(9) {
      left: 80%;
      z-index: 3; }
    #game #dealer-cards .card:nth-child(10) {
      left: 90%;
      z-index: 2; }
  #game #player-cards {
    bottom: -250px; }
    #game #player-cards .card:nth-child(1) {
      left: 0%;
      z-index: 0; }
    #game #player-cards .card:nth-child(2) {
      left: 10%;
      z-index: 1; }
    #game #player-cards .card:nth-child(3) {
      left: 20%;
      z-index: 2; }
    #game #player-cards .card:nth-child(4) {
      left: 30%;
      z-index: 3; }
    #game #player-cards .card:nth-child(5) {
      left: 40%;
      z-index: 4; }
    #game #player-cards .card:nth-child(6) {
      left: 50%;
      z-index: 5; }
    #game #player-cards .card:nth-child(7) {
      left: 60%;
      z-index: 6; }
    #game #player-cards .card:nth-child(8) {
      left: 70%;
      z-index: 7; }
    #game #player-cards .card:nth-child(9) {
      left: 80%;
      z-index: 8; }
    #game #player-cards .card:nth-child(10) {
      left: 90%;
      z-index: 9; }
  #game #player-total, #game #dealer-total {
    font-size: 2em; }

.chip {
  cursor: pointer;
  float: left;
  margin: 0 10px 0 0;
  padding: 4px;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 10px dashed #fff;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }
  .chip span {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    color: #fff;
    font-size: 2em;
    line-height: 102px;
    text-align: center;
    text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3); }
  .chip::before {
    position: absolute;
    color: #77a421;
    font-size: 0.65em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    left: 49%; }

.chip.blue {
  background-color: #007cff;
  -webkit-box-shadow: 0 0 0px #0263e6, 0 1px 0px #0263e6, 0 2px 0px #0263e6, 0 3px 0px #0263e6, 0 4px 0px #0263e6, 0 -1px 0px #01afff;
  -khtml-box-shadow: 0 0 0px #0263e6, 0 1px 0px #0263e6, 0 2px 0px #0263e6, 0 3px 0px #0263e6, 0 4px 0px #0263e6, 0 -1px 0px #01afff;
  -moz-box-shadow: 0 0 0px #0263e6, 0 1px 0px #0263e6, 0 2px 0px #0263e6, 0 3px 0px #0263e6, 0 4px 0px #0263e6, 0 -1px 0px #01afff;
  -ms-box-shadow: 0 0 0px #0263e6, 0 1px 0px #0263e6, 0 2px 0px #0263e6, 0 3px 0px #0263e6, 0 4px 0px #0263e6, 0 -1px 0px #01afff;
  -o-box-shadow: 0 0 0px #0263e6, 0 1px 0px #0263e6, 0 2px 0px #0263e6, 0 3px 0px #0263e6, 0 4px 0px #0263e6, 0 -1px 0px #01afff;
  box-shadow: 0 0 0px #0263e6, 0 1px 0px #0263e6, 0 2px 0px #0263e6, 0 3px 0px #0263e6, 0 4px 0px #0263e6, 0 -1px 0px #01afff; }
  .chip.blue span {
    background-color: #0261f1;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0274f3), color-stop(1, #037ff4));
    background-image: -moz-linear-gradient(center bottom, #0274f3 0%, #037ff4 100%);
    -webkit-box-shadow: 0 0 0 3px #0277f4, 0 -1px 0 3px #0265f1, 0 1px 0 3px #008dff, inset 0 1px 1px #0784ff, inset 0 -1px 0px #0261f1;
    -khtml-box-shadow: 0 0 0 3px #0277f4, 0 -1px 0 3px #0265f1, 0 1px 0 3px #008dff, inset 0 1px 1px #0784ff, inset 0 -1px 0px #0261f1;
    -moz-box-shadow: 0 0 0 3px #0277f4, 0 -1px 0 3px #0265f1, 0 1px 0 3px #008dff, inset 0 1px 1px #0784ff, inset 0 -1px 0px #0261f1;
    -ms-box-shadow: 0 0 0 3px #0277f4, 0 -1px 0 3px #0265f1, 0 1px 0 3px #008dff, inset 0 1px 1px #0784ff, inset 0 -1px 0px #0261f1;
    -o-box-shadow: 0 0 0 3px #0277f4, 0 -1px 0 3px #0265f1, 0 1px 0 3px #008dff, inset 0 1px 1px #0784ff, inset 0 -1px 0px #0261f1;
    box-shadow: 0 0 0 3px #0277f4, 0 -1px 0 3px #0265f1, 0 1px 0 3px #008dff, inset 0 1px 1px #0784ff, inset 0 -1px 0px #0261f1; }
  .chip.blue::before {
    content: '2'; }

.chip.red {
  background-color: #f54800;
  -webkit-box-shadow: 0 0 0px #de2e04, 0 1px 0px #de2e04, 0 2px 0px #de2e04, 0 3px 0px #de2e04, 0 4px 0px #de2e04, 0 -1px 0px #ff6d02;
  -khtml-box-shadow: 0 0 0px #de2e04, 0 1px 0px #de2e04, 0 2px 0px #de2e04, 0 3px 0px #de2e04, 0 4px 0px #de2e04, 0 -1px 0px #ff6d02;
  -moz-box-shadow: 0 0 0px #de2e04, 0 1px 0px #de2e04, 0 2px 0px #de2e04, 0 3px 0px #de2e04, 0 4px 0px #de2e04, 0 -1px 0px #ff6d02;
  -ms-box-shadow: 0 0 0px #de2e04, 0 1px 0px #de2e04, 0 2px 0px #de2e04, 0 3px 0px #de2e04, 0 4px 0px #de2e04, 0 -1px 0px #ff6d02;
  -o-box-shadow: 0 0 0px #de2e04, 0 1px 0px #de2e04, 0 2px 0px #de2e04, 0 3px 0px #de2e04, 0 4px 0px #de2e04, 0 -1px 0px #ff6d02;
  box-shadow: 0 0 0px #de2e04, 0 1px 0px #de2e04, 0 2px 0px #de2e04, 0 3px 0px #de2e04, 0 4px 0px #de2e04, 0 -1px 0px #ff6d02; }
  .chip.red span {
    background-color: #eb4603;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ed4300), color-stop(1, #ef4d00));
    background-image: -moz-linear-gradient(center bottom, #ed4300 0%, #ef4d00 100%);
    -webkit-box-shadow: 0 0 0 3px #eb4503, 0 -1px 0 3px #de3400, 0 1px 0 3px #ff5100, inset 0 1px 1px #fd5410, inset 0 -1px 0px #de3400;
    -khtml-box-shadow: 0 0 0 3px #eb4503, 0 -1px 0 3px #de3400, 0 1px 0 3px #ff5100, inset 0 1px 1px #fd5410, inset 0 -1px 0px #de3400;
    -moz-box-shadow: 0 0 0 3px #eb4503, 0 -1px 0 3px #de3400, 0 1px 0 3px #ff5100, inset 0 1px 1px #fd5410, inset 0 -1px 0px #de3400;
    -ms-box-shadow: 0 0 0 3px #eb4503, 0 -1px 0 3px #de3400, 0 1px 0 3px #ff5100, inset 0 1px 1px #fd5410, inset 0 -1px 0px #de3400;
    -o-box-shadow: 0 0 0 3px #eb4503, 0 -1px 0 3px #de3400, 0 1px 0 3px #ff5100, inset 0 1px 1px #fd5410, inset 0 -1px 0px #de3400;
    box-shadow: 0 0 0 3px #eb4503, 0 -1px 0 3px #de3400, 0 1px 0 3px #ff5100, inset 0 1px 1px #fd5410, inset 0 -1px 0px #de3400; }
  .chip.red::before {
    content: '1'; }

.chip.yellow {
  background-color: #f3cf00;
  -webkit-box-shadow: 0 0 0px #cdaf00, 0 1px 0px #cdaf00, 0 2px 0px #cdaf00, 0 3px 0px #cdaf00, 0 4px 0px #cdaf00, 0 -1px 0px #fddc00;
  -khtml-box-shadow: 0 0 0px #cdaf00, 0 1px 0px #cdaf00, 0 2px 0px #cdaf00, 0 3px 0px #cdaf00, 0 4px 0px #cdaf00, 0 -1px 0px #fddc00;
  -moz-box-shadow: 0 0 0px #cdaf00, 0 1px 0px #cdaf00, 0 2px 0px #cdaf00, 0 3px 0px #cdaf00, 0 4px 0px #cdaf00, 0 -1px 0px #fddc00;
  -ms-box-shadow: 0 0 0px #cdaf00, 0 1px 0px #cdaf00, 0 2px 0px #cdaf00, 0 3px 0px #cdaf00, 0 4px 0px #cdaf00, 0 -1px 0px #fddc00;
  -o-box-shadow: 0 0 0px #cdaf00, 0 1px 0px #cdaf00, 0 2px 0px #cdaf00, 0 3px 0px #cdaf00, 0 4px 0px #cdaf00, 0 -1px 0px #fddc00;
  box-shadow: 0 0 0px #cdaf00, 0 1px 0px #cdaf00, 0 2px 0px #cdaf00, 0 3px 0px #cdaf00, 0 4px 0px #cdaf00, 0 -1px 0px #fddc00; }
  .chip.yellow span {
    background-color: #ebc700;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ebcd00), color-stop(1, #ecc300));
    background-image: -moz-linear-gradient(center bottom, #ebcd00 0%, #ecc300 100%);
    -webkit-box-shadow: 0 0 0 3px #eec900, 0 -1px 0 3px #ceaf00, 0 1px 0 3px #e9dc00, inset 0 1px 1px #e9dc00, inset 0 -1px 0px #ceaf00;
    -khtml-box-shadow: 0 0 0 3px #eec900, 0 -1px 0 3px #ceaf00, 0 1px 0 3px #e9dc00, inset 0 1px 1px #e9dc00, inset 0 -1px 0px #ceaf00;
    -moz-box-shadow: 0 0 0 3px #eec900, 0 -1px 0 3px #ceaf00, 0 1px 0 3px #e9dc00, inset 0 1px 1px #e9dc00, inset 0 -1px 0px #ceaf00;
    -ms-box-shadow: 0 0 0 3px #eec900, 0 -1px 0 3px #ceaf00, 0 1px 0 3px #e9dc00, inset 0 1px 1px #e9dc00, inset 0 -1px 0px #ceaf00;
    -o-box-shadow: 0 0 0 3px #eec900, 0 -1px 0 3px #ceaf00, 0 1px 0 3px #e9dc00, inset 0 1px 1px #e9dc00, inset 0 -1px 0px #ceaf00;
    box-shadow: 0 0 0 3px #eec900, 0 -1px 0 3px #ceaf00, 0 1px 0 3px #e9dc00, inset 0 1px 1px #e9dc00, inset 0 -1px 0px #ceaf00; }
  .chip.yellow::before {
    content: '3'; }

.card {
  font-size: 1.5em;
  position: relative;
  width: 300px;
  height: 460px;
  background-color: #f9f9f9;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 15, 0.2);
  -khtml-box-shadow: 0 0 5px rgba(0, 0, 15, 0.2);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 15, 0.2);
  -ms-box-shadow: 0 0 5px rgba(0, 0, 15, 0.2);
  -o-box-shadow: 0 0 5px rgba(0, 0, 15, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 15, 0.2);
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }
  .card div {
    position: absolute; }
    .card div:first-child {
      top: 2%;
      left: 5%; }
    .card div:last-child {
      bottom: 2%;
      right: 5%;
      -webkit-transform: rotate(180deg);
      -khtml-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); }
    .card div span {
      text-align: center;
      display: block; }
    .card div .icons {
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      height: 1px; }
      .card div .icons > div {
        position: relative; }

.card.back {
  background-color: #fd4000;
  background: #fd4000 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAKCAYAAACJxx+AAAAATElEQVQYGWP4/9XN+P///wy4MEQClyKgOEInuiIoH6EAZA1MEYwGiqEqQFYEdRcTAwFAUAGqFTC7YTSKG5AEwWEC5UNMQJeEOhDkKwDfGrdliFgHkAAAAABJRU5ErkJggg==); }

.card.hearts, .card.diamonds {
  color: #c00; }

.card.spades, .card.clubs {
  color: #111; }
