@import "utils";

// Utils ----------------------------------------------
* { margin: 0; padding: 0; }
body, html { width: 100%; height: 100%; }
.desactivate { opacity: 0.2; }

// Game -----------------------------------------------
#game {
  background-color: #466d19;
  @include gradient-radial(#65981e, #184d08);
  overflow: hidden;
  position: relative;
  width: 100%; height: 100%;
  font: 400 16px/1.4 'futura-pt', Helvetica, Arial, sans-serif;
  
  h1 {
    font: 5em/1 'bello-pro','Cooper STD', Georgia, serif;
    margin: 5% auto;
    color: #507c18;
    text-align: center;
    text-shadow: 0px 0px 1px rgba(25,48,0,0.1), 0px 1px 0px rgba(152,184,42,0.3);
  }
  
  .shortcut {
    display: block;
    padding: 1em 0;
    color: #77a421;
    font-size: 0.65em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

// UI -------------------------------------------------
#ui {
  position: absolute;
  top: 50%; left: 50%;
  width: 75%; max-width: 1024px;
  margin: -15% 0 0 0;
  clear: both;
  color: #dce4c9;

  .zone {
    position: relative;
    width: auto;
    left: -50%;
    height: 116px;
    border: 9px solid #809d29;
    border-color: rgba(208,209,78,0.3);
    padding: 2%;
    @include rounded(30px);
    
    div, ul {
      width: 20%;
      float: left;
    }
    
    #bankroll {
      position: relative;
      font-size: 4.5em;
      margin-right: 5%;
      text-align: center;
      
      &::before {
        content: 'Your bytes';
        position: absolute;
        width: 100px;
        top: -60px; left: 45px;
        font-size: 0.25em;
        text-transform: uppercase;
        color: rgba(208,209,78,0.3);
      }
    }

    #deal, #actions {
      width: 50%;
      margin: auto;
      text-align: center;
      list-style: none;
      
       a, li a {
          background-color: #ffe000;
          position: relative;
          @include gradient-top-bottom(#ffec01,#ffc900);
          display: block;
          padding: 5% 5% 3.875% 5%;
          color: #724a0e;
          font: 2.5em/1 'bello-pro','Cooper STD', Georgia, serif;
          text-decoration: none;
          text-shadow: 0 1px 0px rgba(255,255,255,0.3), 0px -1px 0px rgba(0,0,0,0.2);
          @include box-shadow(#{
              inset 0px 2px 0 rgba(255,255,255,0.3), 
              inset 0px -2px 0 rgba(255,255,255,0.1), 
              0px 5px 0px 0px #daa206, 
              0px 5px 0px 2px rgba(0,0,0,0.2)});
          @include rounded(12px);
          @include transition(box-shadow 50ms ease-out);
          
          &:hover, &:focus { @include box-shadow(#{inset 0px 2px 0 rgba(255,255,255,0.3), inset 0px -2px 0 rgba(255,255,255,0.1), 0px 5px 0px 0px #daa206, 0px 5px 0px 2px rgba(0,0,0,0.2), 0 0 30px rgba(255,246,0,0.8)}); };
          &:active, &.active {
            top: 2px;
            @include box-shadow(#{
              inset 0px 2px 0 rgba(255,255,255,0.3), 
              inset 0px -2px 0 rgba(255,255,255,0.1), 
              0px 3px 0px 0px #daa206, 
              0px 3px 0px 2px rgba(0,0,0,0.2)});
          }
        }

        li {
          display: block;
          width: 28%;
          margin: 0 2%;
          float: left;
          a {
            padding: 1.25em 0;
            font-size: 1.5em;
          }
        }
      }
    }
    .total {
      position: relative;
      left: -12%;
      background-color: #809d29;
      background-color: rgba(208,209,78,0.3);
      width: 25%;
      padding: 1em 0;
      color: #47861a;
      font-size: 1em;
      letter-spacing: 0.15em;
      text-align: center;
      text-transform: uppercase;
      @include rounded(9px 9px 0px 0px);
    }
    .total.bot {
      @include rounded( 0 0 9px 9px);
    }
  
    #chips {
      position: absolute;
      width: 0;
      top: 8%;
      right: 0;
    
      .chip { position: absolute; top: 0; left: 0; @include transition(all 250ms ease-out); }
      .chip:nth-child(1) { left: auto; right: 10px; &::before{ display: none; } }
      .chip:nth-child(2) { left: 10px; top: -50px; &::before{ top: -25%; } }
      .chip:nth-child(3) { left: 10px; top: 50px; &::before{ top: 115%; } }
    
      &::before {
        content: 'Your bet';
        position: absolute;
        text-align: right;
        width: 100px;
        top: -52px; right: 45px;
        font-size: 1.125em;
        text-transform: uppercase;
        color: rgba(208,209,78,0.3);
      }
    }
  
    #chips.disabled { .chip:nth-child(2), .chip:nth-child(3) { opacity: 0; } }
    #actions { display: none; }
  }
  
  #player-cards, #dealer-cards {
    position: absolute;
    left: 50%;
    width: 100%; height: 460px;
    @include transition(all 200ms ease-out);
    
    .card {
      position: absolute;
      top: 0; left: 0;
      @include transition(all 250ms ease-in-out);
      @include box-shadow(0 1px 3px rgba(0,0,0,0.2));
    }
  }
  #dealer-cards .card > .icons {
    @include rotate(180deg);
  }
  
  #dealer-cards { top: -150px; }
  #player-cards { bottom: -150px; }
  #player-total, #dealer-total { font-size: 2em; }
}

// Chips ----------------------------------------------
.chip {
  cursor: pointer;
  float: left;
  margin: 0 10px 0 0;
  padding: 4px;
	background-color: #007cff;
	position: relative;
	width: 100px !important;
	height: 100px;
	border-radius: 100%;
	border: 10px dashed #fff;
	@include box-shadow(#{0 0 0px #0263e6, 0 1px 0px #0263e6, 0 2px 0px #0263e6, 0 3px 0px #0263e6, 0 4px 0px #0263e6, 0 -1px 0px #01afff});
	@include noselect();
	
//  -webkit-transform: perspective(500px) rotateX(45deg); Only for wide wide screens?
	
	span {
		display: block;
		width: 100%;
		height: 100%;
		border-radius: 100%;
		color: #fff;
		font-size: 2em;
		line-height: 102px;
		text-align: center;
		text-shadow: 0 -1px 0px rgba(0,0,0,0.3);
		background-color: #0261f1;
    @include gradient-top-bottom(#037ff4, #0274f3);
    @include box-shadow(#{0 0 0 3px #0277f4, 0 -1px 0 3px #0265f1, 0 1px 0 3px #008dff, inset 0 1px 1px #0784ff, inset 0 -1px 0px #0261f1});
	}
	
	&::before {
	  position: absolute;
    color: #77a421;
    font-size: 0.65em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    left: 49%;
	}
}

.chip.blue {
  background-color: #007cff;
  @include box-shadow(#{0 0 0px #0263e6, 0 1px 0px #0263e6, 0 2px 0px #0263e6, 0 3px 0px #0263e6, 0 4px 0px #0263e6, 0 -1px 0px #01afff});
  
  span {
    background-color: #0261f1;
    @include gradient-top-bottom(#037ff4, #0274f3);
    @include box-shadow(#{0 0 0 3px #0277f4, 0 -1px 0 3px #0265f1, 0 1px 0 3px #008dff, inset 0 1px 1px #0784ff, inset 0 -1px 0px #0261f1});
  }
  
  &::before { content: '2'; }
}

.chip.red {
  background-color: #f54800;
  @include box-shadow(#{0 0 0px #de2e04, 0 1px 0px #de2e04, 0 2px 0px #de2e04, 0 3px 0px #de2e04, 0 4px 0px #de2e04, 0 -1px 0px #ff6d02});
  
  span {
    background-color: #eb4603;
    @include gradient-top-bottom(#ef4d00, #ed4300);
    @include box-shadow(#{0 0 0 3px #eb4503, 0 -1px 0 3px #de3400, 0 1px 0 3px #ff5100, inset 0 1px 1px #fd5410, inset 0 -1px 0px #de3400});
  }
  
  &::before { content: '1'; }
}

.chip.yellow {
  background-color: #f3cf00;
  @include box-shadow(#{0 0 0px #cdaf00, 0 1px 0px #cdaf00, 0 2px 0px #cdaf00, 0 3px 0px #cdaf00, 0 4px 0px #cdaf00, 0 -1px 0px #fddc00});
  
  span {
    background-color: #ebc700;
    @include gradient-top-bottom(#ecc300, #ebcd00);
    @include box-shadow(#{0 0 0 3px #eec900, 0 -1px 0 3px #ceaf00, 0 1px 0 3px #e9dc00, inset 0 1px 1px #e9dc00, inset 0 -1px 0px #ceaf00});
  }
  
  &::before { content: '3'; }
}



// Cards ----------------------------------------------
.card {
  font-size: 1.5em;
  position: relative;
  width: 300px; height: 460px;
  background-color: #f9f9f9;
  border-radius: 20px;
  @include box-shadow(0 0 5px rgba(0,0,15px,0.2));
  @include noselect();
  
  div {
    position: absolute;
    &:first-child { top: 2%; left: 5%; }
    &:last-child { bottom: 2%; right: 5%; @include rotate(180deg); }
    
    span {
      text-align: center;
      display: block;
    }
    
    .icons {
      position: absolute;
      top: 0; left: 0;
      width: 1px; height: 1px;
      
      & > div { position: relative; }
    }
  }
  
  .icons {
    position: absolute;
    top: 50%; left: 50%;
    
    span { position: absolute; font-size: 4em; left: -26px; }
  }
}

.card.back {
  background-color: #fd4000;
  background: #fd4000 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAKCAYAAACJxx+AAAAATElEQVQYGWP4/9XN+P///wy4MEQClyKgOEInuiIoH6EAZA1MEYwGiqEqQFYEdRcTAwFAUAGqFTC7YTSKG5AEwWEC5UNMQJeEOhDkKwDfGrdliFgHkAAAAABJRU5ErkJggg==');  
}

.card.hearts, .card.diamonds { color: #c00; }
.card.spades, .card.clubs { color: #111; }
.card.valueA > .icons span { top: -70px; }
.card.value2 > .icons,
.card.value3 > .icons {
  span:nth-child(1) { top: -170px; }
  span:nth-child(2) { bottom: -170px; }
  span:nth-child(3) { top: -65px; }
}
.card.value4 > .icons,
.card.value5 > .icons {
  span:nth-child(1) { top: -170px; left: -90px; }
  span:nth-child(2) { top: -170px; right: -90px; left: auto; }
  span:nth-child(3) { bottom: -170px; left: -90px; }
  span:nth-child(4) { bottom: -170px; right: -90px; left: auto; }
  span:nth-child(5) { top: -65px; }
}
.card.value6 > .icons,
.card.value7 > .icons,
.card.value8 > .icons {
  span:nth-child(1) { top: -170px; left: -90px; }
  span:nth-child(2) { top: -170px; right: -90px; left: auto; }
  span:nth-child(3) { bottom: -170px; left: -90px; }
  span:nth-child(4) { bottom: -170px; right: -90px; left: auto; }
  span:nth-child(5) { top: -65px; left: -90px; }
  span:nth-child(6) { top: -65px; right: -90px; left: auto; }
  span:nth-child(7) { top: -120px; }
  span:nth-child(8) { bottom: -120px; }
}
.card.value9 > .icons {
  span:nth-child(1) { top: -190px; left: -90px; }
  span:nth-child(2) { top: -110px; left: -90px; }
  span:nth-child(3) { bottom: -110px; left: -90px; }
  span:nth-child(4) { bottom: -190px; left: -90px; }
  span:nth-child(5) { top: -190px; right: -90px; left: auto; }
  span:nth-child(6) { top: -110px; right: -90px; left: auto; }
  span:nth-child(7) { bottom: -110px; right: -90px; left: auto; }
  span:nth-child(8) { bottom: -190px; right: -90px; left: auto; }
  span:nth-child(9) { top: -65px; }
}
.card.value10 > .icons {
  span:nth-child(1) { top: -190px; left: -90px; }
  span:nth-child(2) { top: -110px; left: -90px; }
  span:nth-child(3) { bottom: -110px; left: -90px; }
  span:nth-child(4) { bottom: -190px; left: -90px; }
  span:nth-child(5) { top: -190px; right: -90px; left: auto; }
  span:nth-child(6) { top: -110px; right: -90px; left: auto; }
  span:nth-child(7) { bottom: -110px; right: -90px; left: auto; }
  span:nth-child(8) { bottom: -190px; right: -90px; left: auto; }
  span:nth-child(9) { top: -155px; }
  span:nth-child(10) { bottom: -155px; }
}
.card.valueJ > .icons > span,
.card.valueQ > .icons > span,
.card.valueK > .icons > span {
  font-size: 6em;
  top: -100px; left: -70px;
}

// Media Queries
@media screen and (max-height: 990px) {
  #game {
    #dealer-cards { top: -250px; }
    #player-cards { bottom: -250px; }
  }
}