* {
  margin: 0;
  padding: 0; }

body, html {
  width: 100%;
  height: 100%; }

.desactivate {
  opacity: 0.2; }

#game {
  background-color: #466d19;
  background-image: -webkit-radial-gradient(center center, ellipse farthest-corner, #65981e, #184d08);
  background-image: -moz-radial-gradient(center center, ellipse farthest-corner, #65981e, #184d08);
  background-image: -ms-radial-gradient(center center, ellipse farthest-corner, #65981e, #184d08);
  background-image: -o-radial-gradient(center center, ellipse farthest-corner, #65981e, #184d08);
  background-image: -khtml-radial-gradient(center center, ellipse farthest-corner, #65981e, #184d08);
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  font: 400 13px/1.4 "futura-pt", Helvetica, Arial, sans-serif; }
  #game #ui {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -25%;
    clear: both; }
    #game #ui #deal li {
      list-style-type: none; }
      #game #ui #deal li:first-child {
        padding: 0 0 0 15px; }
    #game #ui #actions {
      display: none; }
  #game #player-cards, #game #dealer-cards {
    position: absolute;
    left: 50%;
    margin: 0 0 0 -25%;
    width: 100%;
    height: 460px; }
    #game #player-cards .card, #game #dealer-cards .card {
      position: absolute;
      top: 0;
      left: 0;
      -webkit-transition: top 250ms ease-in-out;
      -khtml-transition: top 250ms ease-in-out;
      -moz-transition: top 250ms ease-in-out;
      -ms-transition: top 250ms ease-in-out;
      -o-transition: top 250ms ease-in-out;
      transition: top 250ms ease-in-out;
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
      -khtml-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
      -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
      -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); }
  #game #dealer-cards {
    top: -250px; }
    #game #dealer-cards .card:nth-child(1) {
      left: 0%;
      z-index: 11; }
    #game #dealer-cards .card:nth-child(2) {
      left: 10%;
      z-index: 10; }
    #game #dealer-cards .card:nth-child(3) {
      left: 20%;
      z-index: 9; }
    #game #dealer-cards .card:nth-child(4) {
      left: 30%;
      z-index: 8; }
    #game #dealer-cards .card:nth-child(5) {
      left: 40%;
      z-index: 7; }
    #game #dealer-cards .card:nth-child(6) {
      left: 50%;
      z-index: 6; }
    #game #dealer-cards .card:nth-child(7) {
      left: 60%;
      z-index: 5; }
    #game #dealer-cards .card:nth-child(8) {
      left: 70%;
      z-index: 4; }
    #game #dealer-cards .card:nth-child(9) {
      left: 80%;
      z-index: 3; }
    #game #dealer-cards .card:nth-child(10) {
      left: 90%;
      z-index: 2; }
  #game #player-cards {
    bottom: -250px; }
    #game #player-cards .card:nth-child(1) {
      left: 0%;
      z-index: 0; }
    #game #player-cards .card:nth-child(2) {
      left: 10%;
      z-index: 1; }
    #game #player-cards .card:nth-child(3) {
      left: 20%;
      z-index: 2; }
    #game #player-cards .card:nth-child(4) {
      left: 30%;
      z-index: 3; }
    #game #player-cards .card:nth-child(5) {
      left: 40%;
      z-index: 4; }
    #game #player-cards .card:nth-child(6) {
      left: 50%;
      z-index: 5; }
    #game #player-cards .card:nth-child(7) {
      left: 60%;
      z-index: 6; }
    #game #player-cards .card:nth-child(8) {
      left: 70%;
      z-index: 7; }
    #game #player-cards .card:nth-child(9) {
      left: 80%;
      z-index: 8; }
    #game #player-cards .card:nth-child(10) {
      left: 90%;
      z-index: 9; }
  #game #player-total, #game #dealer-total {
    font-size: 2em; }

.chip {
  cursor: pointer;
  float: left;
  margin: 0 10px 0 0;
  padding: 4px;
  background-color: #007cff;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 10px dashed #fff;
  box-shadow: 0 0 0px #0263e6, 0 1px 0px #0263e6, 0 2px 0px #0263e6, 0 3px 0px #0263e6, 0 4px 0px #0263e6, 0 -1px 0px #01afff; }
  .chip span {
    background-color: #0261f1;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0274f3), color-stop(1, #037ff4));
    background-image: -moz-linear-gradient(center bottom, #0274f3 0%, #037ff4 100%);
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    color: #fff;
    font-size: 2em;
    line-height: 102px;
    text-align: center;
    text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 0 3px #0277f4, 0 -1px 0 3px #0265f1, 0 1px 0 3px #008dff, inset 0 1px 1px #0784ff, inset 0 -1px 0px #0261f1; }

.card {
  font-size: 1.5em;
  position: relative;
  width: 300px;
  height: 460px;
  background-color: #f9f9f9;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 15, 0.2);
  -khtml-box-shadow: 0 0 5px rgba(0, 0, 15, 0.2);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 15, 0.2);
  -ms-box-shadow: 0 0 5px rgba(0, 0, 15, 0.2);
  -o-box-shadow: 0 0 5px rgba(0, 0, 15, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 15, 0.2); }
  .card div {
    position: absolute; }
    .card div:first-child {
      top: 2%;
      left: 5%; }
    .card div:last-child {
      bottom: 2%;
      right: 5%;
      -webkit-transform: rotate(180deg); }
    .card div span {
      text-align: center;
      display: block; }
    .card div .icons {
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      height: 1px; }
      .card div .icons > div {
        position: relative; }

.card.back {
  background-color: #fd4000;
  background: #fd4000 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAKCAYAAACJxx+AAAAATElEQVQYGWP4/9XN+P///wy4MEQClyKgOEInuiIoH6EAZA1MEYwGiqEqQFYEdRcTAwFAUAGqFTC7YTSKG5AEwWEC5UNMQJeEOhDkKwDfGrdliFgHkAAAAABJRU5ErkJggg==); }

.card.hearts, .card.diamonds {
  color: #c00; }

.card.spades, .card.clubs {
  color: #111; }
