* {
  margin: 0;
  padding: 0; }

body, html {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased; }

.desactivate {
  opacity: 0.2; }

#game {
  background-color: #466d19;
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 560, from(#65981e), to(#184d08));
  background-image: -webkit-radial-gradient(center center, ellipse farthest-corner, #65981e, #184d08);
  background-image: -moz-radial-gradient(center center, ellipse farthest-corner, #65981e, #184d08);
  background-image: -ms-radial-gradient(center center, ellipse farthest-corner, #65981e, #184d08);
  background-image: -o-radial-gradient(center center, ellipse farthest-corner, #65981e, #184d08);
  background-image: -khtml-radial-gradient(center center, ellipse farthest-corner, #65981e, #184d08);
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 480px;
  font: 400 16px/1.4 "futura-pt", Helvetica, Arial, sans-serif; }
  #game h1 {
    font: 5em/1.5 "bello-pro", "Cooper STD", Georgia, serif;
    margin: 5% auto;
    text-align: center;
    color: #2b5204;
    text-shadow: 0 -1px 3px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(152, 184, 42, 0.15), 0 1px 4px rgba(152, 184, 42, 0.2);
    text-align: center;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(white));
    -webkit-background-clip: text; }
  #game .shortcut {
    display: block;
    padding: 1em 0;
    color: #77a421;
    font-size: 0.65em;
    letter-spacing: 0.1em;
    text-transform: uppercase; }
  #game #ui {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 75%;
    max-width: 1280px;
    height: 30%;
    max-height: 300px;
    margin: -6.5% 0 0 0;
    clear: both;
    color: #dce4c9; }
    #game #ui .zone {
      position: relative;
      width: auto;
      left: -50%;
      height: 45%;
      max-height: 110px;
      min-height: 90px;
      border: 9px solid #809d29;
      border-color: rgba(208, 209, 78, 0.3);
      padding: 2%;
      -webkit-border-radius: 30px;
      -khtml-border-radius: 30px;
      -moz-border-radius: 30px;
      -ms-border-radius: 30px;
      -o-border-radius: 30px;
      border-radius: 30px; }
      #game #ui .zone div, #game #ui .zone ul {
        width: 20%; }
      #game #ui .zone .label {
        position: absolute;
        top: -37px;
        left: 5%;
        font-size: 0.9em;
        text-transform: uppercase;
        letter-spacing: 0.15em;
        color: rgba(208, 209, 78, 0.3); }
        #game #ui .zone .label.right {
          left: auto;
          right: 5%; }
      #game #ui .zone #bankroll {
        position: absolute;
        top: 50%;
        left: 0;
        font-size: 4.5em;
        margin: -50px 5% 0 0;
        text-align: center; }
      #game #ui .zone #deal, #game #ui .zone #actions {
        width: 50%;
        height: 100%;
        margin: auto;
        text-align: center;
        list-style: none; }
        #game #ui .zone #deal a, #game #ui .zone #deal li a, #game #ui .zone #actions a, #game #ui .zone #actions li a {
          background-color: #ffe000;
          position: relative;
          background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ffc900), color-stop(1, #ffec01));
          background-image: -moz-linear-gradient(center bottom, #ffc900 0%, #ffec01 100%);
          display: block;
          padding: 5% 5% 3.875% 5%;
          color: #724a0e;
          font: 2.5em/1 "bello-pro", "Cooper STD", Georgia, serif;
          text-decoration: none;
          text-shadow: 0 1px 0px rgba(255, 255, 255, 0.3), 0px -1px 0px rgba(0, 0, 0, 0.2);
          -webkit-box-shadow: inset 0px 2px 0 rgba(255, 255, 255, 0.3), inset 0px -2px 0 rgba(255, 255, 255, 0.1), 0px 5px 0px 0px #daa206, 0px 5px 0px 2px rgba(0, 0, 0, 0.2);
          -khtml-box-shadow: inset 0px 2px 0 rgba(255, 255, 255, 0.3), inset 0px -2px 0 rgba(255, 255, 255, 0.1), 0px 5px 0px 0px #daa206, 0px 5px 0px 2px rgba(0, 0, 0, 0.2);
          -moz-box-shadow: inset 0px 2px 0 rgba(255, 255, 255, 0.3), inset 0px -2px 0 rgba(255, 255, 255, 0.1), 0px 5px 0px 0px #daa206, 0px 5px 0px 2px rgba(0, 0, 0, 0.2);
          -ms-box-shadow: inset 0px 2px 0 rgba(255, 255, 255, 0.3), inset 0px -2px 0 rgba(255, 255, 255, 0.1), 0px 5px 0px 0px #daa206, 0px 5px 0px 2px rgba(0, 0, 0, 0.2);
          -o-box-shadow: inset 0px 2px 0 rgba(255, 255, 255, 0.3), inset 0px -2px 0 rgba(255, 255, 255, 0.1), 0px 5px 0px 0px #daa206, 0px 5px 0px 2px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0px 2px 0 rgba(255, 255, 255, 0.3), inset 0px -2px 0 rgba(255, 255, 255, 0.1), 0px 5px 0px 0px #daa206, 0px 5px 0px 2px rgba(0, 0, 0, 0.2);
          -webkit-border-radius: 12px;
          -khtml-border-radius: 12px;
          -moz-border-radius: 12px;
          -ms-border-radius: 12px;
          -o-border-radius: 12px;
          border-radius: 12px;
          -webkit-transition: box-shadow 150ms ease-out;
          -khtml-transition: box-shadow 150ms ease-out;
          -moz-transition: box-shadow 150ms ease-out;
          -ms-transition: box-shadow 150ms ease-out;
          -o-transition: box-shadow 150ms ease-out;
          transition: box-shadow 150ms ease-out; }
          #game #ui .zone #deal a:hover, #game #ui .zone #deal a:focus, #game #ui .zone #deal li a:hover, #game #ui .zone #deal li a:focus, #game #ui .zone #actions a:hover, #game #ui .zone #actions a:focus, #game #ui .zone #actions li a:hover, #game #ui .zone #actions li a:focus {
            -webkit-box-shadow: inset 0px 2px 0 rgba(255, 255, 255, 0.3), inset 0px -2px 0 rgba(255, 255, 255, 0.1), 0px 5px 0px 0px #daa206, 0px 5px 0px 2px rgba(0, 0, 0, 0.2), 0 0 30px rgba(255, 246, 0, 0.8);
            -khtml-box-shadow: inset 0px 2px 0 rgba(255, 255, 255, 0.3), inset 0px -2px 0 rgba(255, 255, 255, 0.1), 0px 5px 0px 0px #daa206, 0px 5px 0px 2px rgba(0, 0, 0, 0.2), 0 0 30px rgba(255, 246, 0, 0.8);
            -moz-box-shadow: inset 0px 2px 0 rgba(255, 255, 255, 0.3), inset 0px -2px 0 rgba(255, 255, 255, 0.1), 0px 5px 0px 0px #daa206, 0px 5px 0px 2px rgba(0, 0, 0, 0.2), 0 0 30px rgba(255, 246, 0, 0.8);
            -ms-box-shadow: inset 0px 2px 0 rgba(255, 255, 255, 0.3), inset 0px -2px 0 rgba(255, 255, 255, 0.1), 0px 5px 0px 0px #daa206, 0px 5px 0px 2px rgba(0, 0, 0, 0.2), 0 0 30px rgba(255, 246, 0, 0.8);
            -o-box-shadow: inset 0px 2px 0 rgba(255, 255, 255, 0.3), inset 0px -2px 0 rgba(255, 255, 255, 0.1), 0px 5px 0px 0px #daa206, 0px 5px 0px 2px rgba(0, 0, 0, 0.2), 0 0 30px rgba(255, 246, 0, 0.8);
            box-shadow: inset 0px 2px 0 rgba(255, 255, 255, 0.3), inset 0px -2px 0 rgba(255, 255, 255, 0.1), 0px 5px 0px 0px #daa206, 0px 5px 0px 2px rgba(0, 0, 0, 0.2), 0 0 30px rgba(255, 246, 0, 0.8); }
          #game #ui .zone #deal a:active, #game #ui .zone #deal a.active, #game #ui .zone #deal li a:active, #game #ui .zone #deal li a.active, #game #ui .zone #actions a:active, #game #ui .zone #actions a.active, #game #ui .zone #actions li a:active, #game #ui .zone #actions li a.active {
            top: 2px;
            -webkit-box-shadow: inset 0px 2px 0 rgba(255, 255, 255, 0.3), inset 0px -2px 0 rgba(255, 255, 255, 0.1), 0px 3px 0px 0px #daa206, 0px 3px 0px 2px rgba(0, 0, 0, 0.2);
            -khtml-box-shadow: inset 0px 2px 0 rgba(255, 255, 255, 0.3), inset 0px -2px 0 rgba(255, 255, 255, 0.1), 0px 3px 0px 0px #daa206, 0px 3px 0px 2px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: inset 0px 2px 0 rgba(255, 255, 255, 0.3), inset 0px -2px 0 rgba(255, 255, 255, 0.1), 0px 3px 0px 0px #daa206, 0px 3px 0px 2px rgba(0, 0, 0, 0.2);
            -ms-box-shadow: inset 0px 2px 0 rgba(255, 255, 255, 0.3), inset 0px -2px 0 rgba(255, 255, 255, 0.1), 0px 3px 0px 0px #daa206, 0px 3px 0px 2px rgba(0, 0, 0, 0.2);
            -o-box-shadow: inset 0px 2px 0 rgba(255, 255, 255, 0.3), inset 0px -2px 0 rgba(255, 255, 255, 0.1), 0px 3px 0px 0px #daa206, 0px 3px 0px 2px rgba(0, 0, 0, 0.2);
            box-shadow: inset 0px 2px 0 rgba(255, 255, 255, 0.3), inset 0px -2px 0 rgba(255, 255, 255, 0.1), 0px 3px 0px 0px #daa206, 0px 3px 0px 2px rgba(0, 0, 0, 0.2); }
        #game #ui .zone #deal a.desactivate, #game #ui .zone #deal a.desactivate:hover, #game #ui .zone #actions a.desactivate, #game #ui .zone #actions a.desactivate:hover {
          opacity: 1;
          cursor: default;
          background-color: #cac6be;
          background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #9c9486), color-stop(1, #dad7d2));
          background-image: -moz-linear-gradient(center bottom, #9c9486 0%, #dad7d2 100%);
          -webkit-transition: none;
          -khtml-transition: none;
          -moz-transition: none;
          -ms-transition: none;
          -o-transition: none;
          transition: none;
          color: #aaa395;
          text-shadow: 0 1px 0px rgba(255, 255, 255, 0.2), 0px -1px 0px rgba(0, 0, 0, 0.1);
          -webkit-box-shadow: inset 0px 2px 0 rgba(255, 255, 255, 0.4), inset 0px -2px 0 rgba(255, 255, 255, 0.1), 0px 5px 0px 0px #898367, 0px 5px 0px 2px rgba(0, 0, 0, 0.2);
          -khtml-box-shadow: inset 0px 2px 0 rgba(255, 255, 255, 0.4), inset 0px -2px 0 rgba(255, 255, 255, 0.1), 0px 5px 0px 0px #898367, 0px 5px 0px 2px rgba(0, 0, 0, 0.2);
          -moz-box-shadow: inset 0px 2px 0 rgba(255, 255, 255, 0.4), inset 0px -2px 0 rgba(255, 255, 255, 0.1), 0px 5px 0px 0px #898367, 0px 5px 0px 2px rgba(0, 0, 0, 0.2);
          -ms-box-shadow: inset 0px 2px 0 rgba(255, 255, 255, 0.4), inset 0px -2px 0 rgba(255, 255, 255, 0.1), 0px 5px 0px 0px #898367, 0px 5px 0px 2px rgba(0, 0, 0, 0.2);
          -o-box-shadow: inset 0px 2px 0 rgba(255, 255, 255, 0.4), inset 0px -2px 0 rgba(255, 255, 255, 0.1), 0px 5px 0px 0px #898367, 0px 5px 0px 2px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0px 2px 0 rgba(255, 255, 255, 0.4), inset 0px -2px 0 rgba(255, 255, 255, 0.1), 0px 5px 0px 0px #898367, 0px 5px 0px 2px rgba(0, 0, 0, 0.2); }
        #game #ui .zone #deal li, #game #ui .zone #actions li {
          display: block;
          width: 29.4%;
          margin: 0 1%;
          float: left; }
          #game #ui .zone #deal li a, #game #ui .zone #actions li a {
            padding: 22% 5% 20% 5%;
            font-size: 1.5em; }
    #game #ui .total {
      position: relative;
      left: -12.5%;
      background-color: #809d29;
      background-color: rgba(208, 209, 78, 0.3);
      width: 25%;
      padding: 0.75em 0 0.5em 0;
      color: #437714;
      font-size: 1em;
      letter-spacing: 0.15em;
      text-align: center;
      text-transform: uppercase;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
      -webkit-border-radius: 9px 9px 0px 0px;
      -khtml-border-radius: 9px 9px 0px 0px;
      -moz-border-radius: 9px 9px 0px 0px;
      -ms-border-radius: 9px 9px 0px 0px;
      -o-border-radius: 9px 9px 0px 0px;
      border-radius: 9px 9px 0px 0px; }
    #game #ui .total.bot {
      -webkit-border-radius: 0 0 9px 9px;
      -khtml-border-radius: 0 0 9px 9px;
      -moz-border-radius: 0 0 9px 9px;
      -ms-border-radius: 0 0 9px 9px;
      -o-border-radius: 0 0 9px 9px;
      border-radius: 0 0 9px 9px;
      padding: 0.5em 0 0.75em 0; }
    #game #ui #chips {
      position: absolute;
      width: 0;
      top: 0;
      right: 0; }
      #game #ui #chips .chip {
        position: absolute;
        top: 0;
        left: 0;
        -webkit-transition: all 250ms ease-out;
        -khtml-transition: all 250ms ease-out;
        -moz-transition: all 250ms ease-out;
        -ms-transition: all 250ms ease-out;
        -o-transition: all 250ms ease-out;
        transition: all 250ms ease-out; }
      #game #ui #chips .chip:nth-child(1) {
        left: auto;
        right: 10px; }
        #game #ui #chips .chip:nth-child(1)::before {
          display: none; }
      #game #ui #chips .chip:nth-child(2) {
        left: 10px;
        top: -70px; }
        #game #ui #chips .chip:nth-child(2)::before {
          top: -25%; }
      #game #ui #chips .chip:nth-child(3) {
        left: 10px;
        top: 70px; }
        #game #ui #chips .chip:nth-child(3)::before {
          top: 115%; }
    #game #ui #chips.disabled .chip:nth-child(2), #game #ui #chips.disabled .chip:nth-child(3) {
      opacity: 0; }
    #game #ui #actions {
      display: none; }
  #game #player-cards, #game #dealer-cards {
    position: absolute;
    left: 50%;
    width: 100%;
    height: 460px;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all 200ms ease-out;
    -khtml-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out; }
    #game #player-cards .card, #game #dealer-cards .card {
      -webkit-backface-visibility: hidden;
      background-color: #f9f9f9;
      position: absolute;
      top: 0;
      left: 0;
      -webkit-transition: all 250ms ease-in-out;
      -khtml-transition: all 250ms ease-in-out;
      -moz-transition: all 250ms ease-in-out;
      -ms-transition: all 250ms ease-in-out;
      -o-transition: all 250ms ease-in-out;
      transition: all 250ms ease-in-out;
      -webkit-box-shadow: inset 0 0 1px white, inset 0 0 60px rgba(139, 118, 109, 0.1), 0 1px 3px rgba(0, 0, 15, 0.3), 0 0 5px rgba(0, 0, 15, 0.1);
      -khtml-box-shadow: inset 0 0 1px white, inset 0 0 60px rgba(139, 118, 109, 0.1), 0 1px 3px rgba(0, 0, 15, 0.3), 0 0 5px rgba(0, 0, 15, 0.1);
      -moz-box-shadow: inset 0 0 1px white, inset 0 0 60px rgba(139, 118, 109, 0.1), 0 1px 3px rgba(0, 0, 15, 0.3), 0 0 5px rgba(0, 0, 15, 0.1);
      -ms-box-shadow: inset 0 0 1px white, inset 0 0 60px rgba(139, 118, 109, 0.1), 0 1px 3px rgba(0, 0, 15, 0.3), 0 0 5px rgba(0, 0, 15, 0.1);
      -o-box-shadow: inset 0 0 1px white, inset 0 0 60px rgba(139, 118, 109, 0.1), 0 1px 3px rgba(0, 0, 15, 0.3), 0 0 5px rgba(0, 0, 15, 0.1);
      box-shadow: inset 0 0 1px white, inset 0 0 60px rgba(139, 118, 109, 0.1), 0 1px 3px rgba(0, 0, 15, 0.3), 0 0 5px rgba(0, 0, 15, 0.1);
      background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #edeae6), color-stop(1, #f5f5f5));
      background-image: -moz-linear-gradient(center bottom, #edeae6 0%, #f5f5f5 100%); }
      #game #player-cards .card.back, #game #dealer-cards .card.back {
        background-color: #fd4000;
        -webkit-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 15, 0.3), 0 0 5px rgba(0, 0, 15, 0.1);
        -khtml-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 15, 0.3), 0 0 5px rgba(0, 0, 15, 0.1);
        -moz-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 15, 0.3), 0 0 5px rgba(0, 0, 15, 0.1);
        -ms-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 15, 0.3), 0 0 5px rgba(0, 0, 15, 0.1);
        -o-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 15, 0.3), 0 0 5px rgba(0, 0, 15, 0.1);
        box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 15, 0.3), 0 0 5px rgba(0, 0, 15, 0.1);
        background: #fd4000 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAKCAYAAACJxx+AAAAATElEQVQYGWP4/9XN+P///wy4MEQClyKgOEInuiIoH6EAZA1MEYwGiqEqQFYEdRcTAwFAUAGqFTC7YTSKG5AEwWEC5UNMQJeEOhDkKwDfGrdliFgHkAAAAABJRU5ErkJggg=="); }
  #game #dealer-cards .card > .icons {
    -webkit-transform: rotate(180deg);
    -khtml-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  #game #dealer-cards {
    top: -200px; }
    #game #dealer-cards .card {
      background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f9f9f9), color-stop(1, #edeae6));
      background-image: -moz-linear-gradient(center bottom, #f9f9f9 0%, #edeae6 100%); }
  #game #player-cards {
    bottom: -120px; }
  #game #player-total, #game #dealer-total {
    font-size: 1em;
    color: #fff; }

#message {
  z-index: 999;
  position: absolute;
  bottom: 8%;
  left: 0;
  width: 100%;
  opacity: 1;
  color: #ffd801;
  font-size: 5em;
  font-weight: bold;
  font-family: 'bello-pro';
  font-size: 5em;
  line-height: 1;
  text-align: center;
  text-shadow: 0px 2px 0px #daa206, 0px 1px 6px rgba(0, 0, 0, 0.1);
  -webkit-animation: fadeIn3d 1000ms ease-in-out; }
  #message span {
    display: block;
    clear: both;
    color: #3c2f29;
    font-family: 'futura-pt', Helvetica, Arial, sans-serif;
    font-size: 0.5em;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: none;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); }
  #message.game-over {
    bottom: 45%;
    -webkit-animation: fadeIn3d 1000ms ease-in-out; }

#message.lose, #message.lose-busted, #message.lose-blackjack, #message.game-over {
  color: #f14700;
  text-shadow: 0 -1px 0px #f36c30, 0px 2px 0px #cf3600, 0px 4px 21px rgba(60, 47, 41, 0.17); }
  #message.lose span, #message.lose-busted span, #message.lose-blackjack span, #message.game-over span {
    color: #3c2f29; }

#overlay {
  position: absolute;
  z-index: 998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 420px;
  background-color: rgba(0, 0, 0, 0.6); }

@-webkit-keyframes fadeIn3d {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -khtml-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

  75% {
    opacity: 1; }

  100% {
    -webkit-transform: translate3d(0, -75px, 0);
    -khtml-transform: translate3d(0, -75px, 0);
    -moz-transform: translate3d(0, -75px, 0);
    -ms-transform: translate3d(0, -75px, 0);
    -o-transform: translate3d(0, -75px, 0);
    transform: translate3d(0, -75px, 0); } }

@-webkit-keyframes messageFade {
  0% {
    opacity: 0;
    /*letter-spacing: 0em;*/ }

  10% {
    opacity: 1; }

  70% {
    opacity: 1; }

  100% {
    opacity: 0;
    /*letter-spacing: 0.6em;*/ } }

@-webkit-keyframes dealPulse {
  0% {
    -webkit-box-shadow: inset 0px 2px 0 rgba(255, 255, 255, 0.3), inset 0px -2px 0 rgba(255, 255, 255, 0.1), 0px 5px 0px 0px #daa206, 0px 5px 0px 2px rgba(0, 0, 0, 0.2), 0 0 6px rgba(255, 246, 0, 0.8); }

  100% {
    -webkit-box-shadow: inset 0px 2px 0 rgba(255, 255, 255, 0.3), inset 0px -2px 0 rgba(255, 255, 255, 0.1), 0px 5px 0px 0px #daa206, 0px 5px 0px 2px rgba(0, 0, 0, 0.2), 0 0 40px rgba(255, 246, 0, 0.8); } }

#chips:hover .chip {
  opacity: 0.8; }

#chips:hover .chip:hover {
  opacity: 1; }

.chip {
  cursor: pointer;
  float: left;
  margin: 0 10px 0 0;
  padding: 4px;
  background-color: #007cff;
  position: relative;
  width: 100px !important;
  height: 100px;
  border: 10px dashed #fff;
  -webkit-box-shadow: 0 0 0px #0263e6, 0 1px 0px #0263e6, 0 2px 0px #0263e6, 0 3px 0px #0263e6, 0 4px 0px #0263e6, 0 -1px 0px #01afff, 0 4px 9px rgba(0, 0, 0, 0.2);
  -khtml-box-shadow: 0 0 0px #0263e6, 0 1px 0px #0263e6, 0 2px 0px #0263e6, 0 3px 0px #0263e6, 0 4px 0px #0263e6, 0 -1px 0px #01afff, 0 4px 9px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 0px #0263e6, 0 1px 0px #0263e6, 0 2px 0px #0263e6, 0 3px 0px #0263e6, 0 4px 0px #0263e6, 0 -1px 0px #01afff, 0 4px 9px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 0px #0263e6, 0 1px 0px #0263e6, 0 2px 0px #0263e6, 0 3px 0px #0263e6, 0 4px 0px #0263e6, 0 -1px 0px #01afff, 0 4px 9px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 0px #0263e6, 0 1px 0px #0263e6, 0 2px 0px #0263e6, 0 3px 0px #0263e6, 0 4px 0px #0263e6, 0 -1px 0px #01afff, 0 4px 9px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0px #0263e6, 0 1px 0px #0263e6, 0 2px 0px #0263e6, 0 3px 0px #0263e6, 0 4px 0px #0263e6, 0 -1px 0px #01afff, 0 4px 9px rgba(0, 0, 0, 0.2);
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-border-radius: 100px;
  -khtml-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  -webkit-transition: all 100ms ease-out;
  -khtml-transition: all 100ms ease-out;
  -moz-transition: all 100ms ease-out;
  -ms-transition: all 100ms ease-out;
  -o-transition: all 100ms ease-out;
  transition: all 100ms ease-out; }
  .chip:hover {
    -webkit-transform: rotate(5deg);
    -khtml-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg); }
  .chip span {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 2em;
    line-height: 102px;
    text-align: center;
    text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3);
    background-color: #0261f1;
    -webkit-border-radius: 100px;
    -khtml-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0274f3), color-stop(1, #037ff4));
    background-image: -moz-linear-gradient(center bottom, #0274f3 0%, #037ff4 100%);
    -webkit-box-shadow: 0 0 0 3px #0277f4, 0 -1px 0 3px #0265f1, 0 1px 0 3px #008dff, inset 0 1px 1px #0784ff, inset 0 -1px 0px #0261f1;
    -khtml-box-shadow: 0 0 0 3px #0277f4, 0 -1px 0 3px #0265f1, 0 1px 0 3px #008dff, inset 0 1px 1px #0784ff, inset 0 -1px 0px #0261f1;
    -moz-box-shadow: 0 0 0 3px #0277f4, 0 -1px 0 3px #0265f1, 0 1px 0 3px #008dff, inset 0 1px 1px #0784ff, inset 0 -1px 0px #0261f1;
    -ms-box-shadow: 0 0 0 3px #0277f4, 0 -1px 0 3px #0265f1, 0 1px 0 3px #008dff, inset 0 1px 1px #0784ff, inset 0 -1px 0px #0261f1;
    -o-box-shadow: 0 0 0 3px #0277f4, 0 -1px 0 3px #0265f1, 0 1px 0 3px #008dff, inset 0 1px 1px #0784ff, inset 0 -1px 0px #0261f1;
    box-shadow: 0 0 0 3px #0277f4, 0 -1px 0 3px #0265f1, 0 1px 0 3px #008dff, inset 0 1px 1px #0784ff, inset 0 -1px 0px #0261f1; }
  .chip::before {
    position: absolute;
    color: #77a421;
    font-size: 0.65em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    left: 49%; }

.chip.blue {
  background-color: #007cff;
  -webkit-box-shadow: 0 0 0px #0263e6, 0 1px 0px #0263e6, 0 2px 0px #0263e6, 0 3px 0px #0263e6, 0 4px 0px #0263e6, 0 -1px 0px #01afff, 0 3px 9px rgba(0, 0, 0, 0.2);
  -khtml-box-shadow: 0 0 0px #0263e6, 0 1px 0px #0263e6, 0 2px 0px #0263e6, 0 3px 0px #0263e6, 0 4px 0px #0263e6, 0 -1px 0px #01afff, 0 3px 9px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 0px #0263e6, 0 1px 0px #0263e6, 0 2px 0px #0263e6, 0 3px 0px #0263e6, 0 4px 0px #0263e6, 0 -1px 0px #01afff, 0 3px 9px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 0px #0263e6, 0 1px 0px #0263e6, 0 2px 0px #0263e6, 0 3px 0px #0263e6, 0 4px 0px #0263e6, 0 -1px 0px #01afff, 0 3px 9px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 0px #0263e6, 0 1px 0px #0263e6, 0 2px 0px #0263e6, 0 3px 0px #0263e6, 0 4px 0px #0263e6, 0 -1px 0px #01afff, 0 3px 9px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0px #0263e6, 0 1px 0px #0263e6, 0 2px 0px #0263e6, 0 3px 0px #0263e6, 0 4px 0px #0263e6, 0 -1px 0px #01afff, 0 3px 9px rgba(0, 0, 0, 0.2); }
  .chip.blue span {
    background-color: #0261f1;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0274f3), color-stop(1, #037ff4));
    background-image: -moz-linear-gradient(center bottom, #0274f3 0%, #037ff4 100%);
    -webkit-box-shadow: 0 0 0 3px #0277f4, 0 -1px 0 3px #0265f1, 0 1px 0 3px #008dff, inset 0 1px 1px #0784ff, inset 0 -1px 0px #0261f1;
    -khtml-box-shadow: 0 0 0 3px #0277f4, 0 -1px 0 3px #0265f1, 0 1px 0 3px #008dff, inset 0 1px 1px #0784ff, inset 0 -1px 0px #0261f1;
    -moz-box-shadow: 0 0 0 3px #0277f4, 0 -1px 0 3px #0265f1, 0 1px 0 3px #008dff, inset 0 1px 1px #0784ff, inset 0 -1px 0px #0261f1;
    -ms-box-shadow: 0 0 0 3px #0277f4, 0 -1px 0 3px #0265f1, 0 1px 0 3px #008dff, inset 0 1px 1px #0784ff, inset 0 -1px 0px #0261f1;
    -o-box-shadow: 0 0 0 3px #0277f4, 0 -1px 0 3px #0265f1, 0 1px 0 3px #008dff, inset 0 1px 1px #0784ff, inset 0 -1px 0px #0261f1;
    box-shadow: 0 0 0 3px #0277f4, 0 -1px 0 3px #0265f1, 0 1px 0 3px #008dff, inset 0 1px 1px #0784ff, inset 0 -1px 0px #0261f1; }
  .chip.blue::before {
    content: '2'; }

.chip.red {
  background-color: #f54800;
  -webkit-box-shadow: 0 0 0px #de2e04, 0 1px 0px #de2e04, 0 2px 0px #de2e04, 0 3px 0px #de2e04, 0 4px 0px #de2e04, 0 -1px 0px #ff6d02, 0 3px 9px rgba(0, 0, 0, 0.2);
  -khtml-box-shadow: 0 0 0px #de2e04, 0 1px 0px #de2e04, 0 2px 0px #de2e04, 0 3px 0px #de2e04, 0 4px 0px #de2e04, 0 -1px 0px #ff6d02, 0 3px 9px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 0px #de2e04, 0 1px 0px #de2e04, 0 2px 0px #de2e04, 0 3px 0px #de2e04, 0 4px 0px #de2e04, 0 -1px 0px #ff6d02, 0 3px 9px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 0px #de2e04, 0 1px 0px #de2e04, 0 2px 0px #de2e04, 0 3px 0px #de2e04, 0 4px 0px #de2e04, 0 -1px 0px #ff6d02, 0 3px 9px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 0px #de2e04, 0 1px 0px #de2e04, 0 2px 0px #de2e04, 0 3px 0px #de2e04, 0 4px 0px #de2e04, 0 -1px 0px #ff6d02, 0 3px 9px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0px #de2e04, 0 1px 0px #de2e04, 0 2px 0px #de2e04, 0 3px 0px #de2e04, 0 4px 0px #de2e04, 0 -1px 0px #ff6d02, 0 3px 9px rgba(0, 0, 0, 0.2); }
  .chip.red span {
    background-color: #eb4603;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ed4300), color-stop(1, #ef4d00));
    background-image: -moz-linear-gradient(center bottom, #ed4300 0%, #ef4d00 100%);
    -webkit-box-shadow: 0 0 0 3px #eb4503, 0 -1px 0 3px #de3400, 0 1px 0 3px #ff5100, inset 0 1px 1px #fd5410, inset 0 -1px 0px #de3400;
    -khtml-box-shadow: 0 0 0 3px #eb4503, 0 -1px 0 3px #de3400, 0 1px 0 3px #ff5100, inset 0 1px 1px #fd5410, inset 0 -1px 0px #de3400;
    -moz-box-shadow: 0 0 0 3px #eb4503, 0 -1px 0 3px #de3400, 0 1px 0 3px #ff5100, inset 0 1px 1px #fd5410, inset 0 -1px 0px #de3400;
    -ms-box-shadow: 0 0 0 3px #eb4503, 0 -1px 0 3px #de3400, 0 1px 0 3px #ff5100, inset 0 1px 1px #fd5410, inset 0 -1px 0px #de3400;
    -o-box-shadow: 0 0 0 3px #eb4503, 0 -1px 0 3px #de3400, 0 1px 0 3px #ff5100, inset 0 1px 1px #fd5410, inset 0 -1px 0px #de3400;
    box-shadow: 0 0 0 3px #eb4503, 0 -1px 0 3px #de3400, 0 1px 0 3px #ff5100, inset 0 1px 1px #fd5410, inset 0 -1px 0px #de3400; }
  .chip.red::before {
    content: '1'; }

.chip.yellow {
  background-color: #f3cf00;
  -webkit-box-shadow: 0 0 0px #cdaf00, 0 1px 0px #cdaf00, 0 2px 0px #cdaf00, 0 3px 0px #cdaf00, 0 4px 0px #cdaf00, 0 -1px 0px #fddc00, 0 3px 9px rgba(0, 0, 0, 0.2);
  -khtml-box-shadow: 0 0 0px #cdaf00, 0 1px 0px #cdaf00, 0 2px 0px #cdaf00, 0 3px 0px #cdaf00, 0 4px 0px #cdaf00, 0 -1px 0px #fddc00, 0 3px 9px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 0px #cdaf00, 0 1px 0px #cdaf00, 0 2px 0px #cdaf00, 0 3px 0px #cdaf00, 0 4px 0px #cdaf00, 0 -1px 0px #fddc00, 0 3px 9px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 0px #cdaf00, 0 1px 0px #cdaf00, 0 2px 0px #cdaf00, 0 3px 0px #cdaf00, 0 4px 0px #cdaf00, 0 -1px 0px #fddc00, 0 3px 9px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 0px #cdaf00, 0 1px 0px #cdaf00, 0 2px 0px #cdaf00, 0 3px 0px #cdaf00, 0 4px 0px #cdaf00, 0 -1px 0px #fddc00, 0 3px 9px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0px #cdaf00, 0 1px 0px #cdaf00, 0 2px 0px #cdaf00, 0 3px 0px #cdaf00, 0 4px 0px #cdaf00, 0 -1px 0px #fddc00, 0 3px 9px rgba(0, 0, 0, 0.2); }
  .chip.yellow span {
    background-color: #ebc700;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ebcd00), color-stop(1, #ecc300));
    background-image: -moz-linear-gradient(center bottom, #ebcd00 0%, #ecc300 100%);
    -webkit-box-shadow: 0 0 0 3px #eec900, 0 -1px 0 3px #ceaf00, 0 1px 0 3px #e9dc00, inset 0 1px 1px #e9dc00, inset 0 -1px 0px #ceaf00;
    -khtml-box-shadow: 0 0 0 3px #eec900, 0 -1px 0 3px #ceaf00, 0 1px 0 3px #e9dc00, inset 0 1px 1px #e9dc00, inset 0 -1px 0px #ceaf00;
    -moz-box-shadow: 0 0 0 3px #eec900, 0 -1px 0 3px #ceaf00, 0 1px 0 3px #e9dc00, inset 0 1px 1px #e9dc00, inset 0 -1px 0px #ceaf00;
    -ms-box-shadow: 0 0 0 3px #eec900, 0 -1px 0 3px #ceaf00, 0 1px 0 3px #e9dc00, inset 0 1px 1px #e9dc00, inset 0 -1px 0px #ceaf00;
    -o-box-shadow: 0 0 0 3px #eec900, 0 -1px 0 3px #ceaf00, 0 1px 0 3px #e9dc00, inset 0 1px 1px #e9dc00, inset 0 -1px 0px #ceaf00;
    box-shadow: 0 0 0 3px #eec900, 0 -1px 0 3px #ceaf00, 0 1px 0 3px #e9dc00, inset 0 1px 1px #e9dc00, inset 0 -1px 0px #ceaf00; }
  .chip.yellow::before {
    content: '3'; }

.card {
  font-size: 1.5em;
  z-index: 1;
  position: relative;
  width: 300px;
  height: 460px;
  border-radius: 20px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }
  .card div {
    position: absolute; }
    .card div:first-child {
      top: 2%;
      left: 5%; }
    .card div:last-child {
      bottom: 2%;
      right: 5%;
      -webkit-transform: rotate(180deg);
      -khtml-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); }
    .card div span {
      text-align: center;
      display: block; }
    .card div .icons {
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      height: 1px; }
      .card div .icons > div {
        position: relative; }
  .card .icons {
    position: absolute;
    top: 50%;
    left: 50%; }
    .card .icons span {
      position: absolute;
      font-size: 4em;
      left: -26px; }

.card.hearts, .card.diamonds {
  color: #f14000; }

.card.spades, .card.clubs {
  color: #3c2f29; }

.card.valueA > .icons span {
  top: -70px; }

.card.value2 > .icons span:nth-child(1),
.card.value3 > .icons span:nth-child(1) {
  top: -170px; }
.card.value2 > .icons span:nth-child(2),
.card.value3 > .icons span:nth-child(2) {
  bottom: -170px; }
.card.value2 > .icons span:nth-child(3),
.card.value3 > .icons span:nth-child(3) {
  top: -65px; }

.card.value4 > .icons span:nth-child(1),
.card.value5 > .icons span:nth-child(1) {
  top: -170px;
  left: -90px; }
.card.value4 > .icons span:nth-child(2),
.card.value5 > .icons span:nth-child(2) {
  top: -170px;
  right: -90px;
  left: auto; }
.card.value4 > .icons span:nth-child(3),
.card.value5 > .icons span:nth-child(3) {
  bottom: -170px;
  left: -90px; }
.card.value4 > .icons span:nth-child(4),
.card.value5 > .icons span:nth-child(4) {
  bottom: -170px;
  right: -90px;
  left: auto; }
.card.value4 > .icons span:nth-child(5),
.card.value5 > .icons span:nth-child(5) {
  top: -65px; }

.card.value6 > .icons span:nth-child(1),
.card.value7 > .icons span:nth-child(1),
.card.value8 > .icons span:nth-child(1) {
  top: -170px;
  left: -90px; }
.card.value6 > .icons span:nth-child(2),
.card.value7 > .icons span:nth-child(2),
.card.value8 > .icons span:nth-child(2) {
  top: -170px;
  right: -90px;
  left: auto; }
.card.value6 > .icons span:nth-child(3),
.card.value7 > .icons span:nth-child(3),
.card.value8 > .icons span:nth-child(3) {
  bottom: -170px;
  left: -90px; }
.card.value6 > .icons span:nth-child(4),
.card.value7 > .icons span:nth-child(4),
.card.value8 > .icons span:nth-child(4) {
  bottom: -170px;
  right: -90px;
  left: auto; }
.card.value6 > .icons span:nth-child(5),
.card.value7 > .icons span:nth-child(5),
.card.value8 > .icons span:nth-child(5) {
  top: -65px;
  left: -90px; }
.card.value6 > .icons span:nth-child(6),
.card.value7 > .icons span:nth-child(6),
.card.value8 > .icons span:nth-child(6) {
  top: -65px;
  right: -90px;
  left: auto; }
.card.value6 > .icons span:nth-child(7),
.card.value7 > .icons span:nth-child(7),
.card.value8 > .icons span:nth-child(7) {
  top: -120px; }
.card.value6 > .icons span:nth-child(8),
.card.value7 > .icons span:nth-child(8),
.card.value8 > .icons span:nth-child(8) {
  bottom: -120px; }

.card.value9 > .icons span:nth-child(1) {
  top: -190px;
  left: -90px; }
.card.value9 > .icons span:nth-child(2) {
  top: -110px;
  left: -90px; }
.card.value9 > .icons span:nth-child(3) {
  bottom: -110px;
  left: -90px; }
.card.value9 > .icons span:nth-child(4) {
  bottom: -190px;
  left: -90px; }
.card.value9 > .icons span:nth-child(5) {
  top: -190px;
  right: -90px;
  left: auto; }
.card.value9 > .icons span:nth-child(6) {
  top: -110px;
  right: -90px;
  left: auto; }
.card.value9 > .icons span:nth-child(7) {
  bottom: -110px;
  right: -90px;
  left: auto; }
.card.value9 > .icons span:nth-child(8) {
  bottom: -190px;
  right: -90px;
  left: auto; }
.card.value9 > .icons span:nth-child(9) {
  top: -65px; }

.card.value10 > .icons span:nth-child(1) {
  top: -190px;
  left: -90px; }
.card.value10 > .icons span:nth-child(2) {
  top: -110px;
  left: -90px; }
.card.value10 > .icons span:nth-child(3) {
  bottom: -110px;
  left: -90px; }
.card.value10 > .icons span:nth-child(4) {
  bottom: -190px;
  left: -90px; }
.card.value10 > .icons span:nth-child(5) {
  top: -190px;
  right: -90px;
  left: auto; }
.card.value10 > .icons span:nth-child(6) {
  top: -110px;
  right: -90px;
  left: auto; }
.card.value10 > .icons span:nth-child(7) {
  bottom: -110px;
  right: -90px;
  left: auto; }
.card.value10 > .icons span:nth-child(8) {
  bottom: -190px;
  right: -90px;
  left: auto; }
.card.value10 > .icons span:nth-child(9) {
  top: -155px; }
.card.value10 > .icons span:nth-child(10) {
  bottom: -155px; }

.card.valueJ > .icons > span,
.card.valueQ > .icons > span,
.card.valueK > .icons > span {
  font-size: 6em;
  top: -100px;
  left: -70px; }

html[browser="Firefox"] .chip {
  border-color: rgba(255, 255, 255, 0.1); }

html[browser="Safari"] #game #ui .zone #deal li, html[browser="Safari"] #game #ui .zone #actions li {
  margin: 0 2%; }
html[browser="Safari"] #message {
  bottom: 0;
  -webkit-transform: translate3d(0, -75px, 0);
  -khtml-transform: translate3d(0, -75px, 0);
  -moz-transform: translate3d(0, -75px, 0);
  -ms-transform: translate3d(0, -75px, 0);
  -o-transform: translate3d(0, -75px, 0);
  transform: translate3d(0, -75px, 0); }

html[os="iPhone/iPod"] #game #player-cards .card, html[os="iPhone/iPod"] #game #dealer-cards .card {
  -webkit-transition: none;
  -khtml-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none; }

@media screen and (max-height: 1024px) {
  #game #dealer-cards {
    top: -260px; }
  #game #player-cards {
    bottom: -240px; } }
@media screen and (max-height: 910px) {
  #game #player-cards {
    bottom: -300px; } }
@media screen and (max-height: 768px) {
  #game #dealer-cards {
    top: -270px; } }
@media screen and (max-height: 660px) {
  #game #dealer-cards {
    top: -350px; } }
@media screen and (max-height: 550px) and (max-width: 768px) {
  #game #dealer-cards {
    top: -350px; }
  #game #player-cards {
    bottom: -350px; } }
@media screen and (max-height: 620px) and (max-width: 480px) {
  #game #dealer-cards {
    top: -200px; } }
@media screen and (max-height: 550px) and (max-width: 320px) {
  #game #dealer-cards {
    top: -150px; } }
@media screen and (max-height: 320px) and (max-width: 480px) {
  #game #dealer-cards {
    top: -250px; } }
@media screen and (max-width: 1024px) {
  #game .chip {
    padding: 4px;
    width: 80px !important;
    height: 80px; }
    #game .chip span {
      font-size: 1.5em;
      line-height: 82px; } }
@media screen and (max-width: 768px) {
  #game h1 {
    margin: 10% auto 0 auto; }
  #game #ui {
    width: 95%;
    height: 40%;
    max-height: 500px;
    top: 35%; }
    #game #ui .zone {
      height: 66%;
      max-height: 300px;
      -webkit-border-radius: 21px;
      -khtml-border-radius: 21px;
      -moz-border-radius: 21px;
      -ms-border-radius: 21px;
      -o-border-radius: 21px;
      border-radius: 21px; }
      #game #ui .zone .label {
        top: -30px; }
      #game #ui .zone #deal, #game #ui .zone #actions {
        position: absolute;
        top: auto;
        bottom: 10%;
        width: 96%;
        height: auto; }
      #game #ui .zone .shortcut {
        display: none; }
      #game #ui .zone #bankroll {
        top: 0;
        margin: 4%; }
    #game #ui #chips {
      width: auto;
      top: 10px;
      right: 2px; }
      #game #ui #chips .chip {
        float: none;
        opacity: 0.35;
        top: 0 !important;
        left: auto !important; }
        #game #ui #chips .chip::before {
          display: none; }
        #game #ui #chips .chip.bet {
          opacity: 1; }
        #game #ui #chips .chip.red {
          right: 236px; }
        #game #ui #chips .chip.blue {
          right: 118px; }
        #game #ui #chips .chip.yellow {
          right: 0px; } }
@media screen and (max-width: 768px) and (max-height: 825px) {
  #game {
    font-size: 12px; }
    #game #ui .zone #chips .chip {
      padding: 4px;
      width: 50px !important;
      height: 50px;
      margin: 3px;
      border: 4px dashed #fff; }
      #game #ui .zone #chips .chip span {
        font-size: 1.4em;
        line-height: 52px; }
      #game #ui .zone #chips .chip.red {
        right: 145px; }
      #game #ui .zone #chips .chip.blue {
        right: 72px; }
      #game #ui .zone #chips .chip.yellow {
        right: 0px; } }
@media screen and (max-width: 575px) {
  #game {
    font-size: 12px; }
    #game #ui .zone #bankroll {
      font-size: 4em; }
    #game #ui .zone #chips .chip {
      padding: 4px;
      width: 30px !important;
      height: 30px;
      border: 3px dashed #fff; }
      #game #ui .zone #chips .chip span {
        font-size: 1em;
        line-height: 32px; }
      #game #ui .zone #chips .chip.red {
        right: 98px; }
      #game #ui .zone #chips .chip.blue {
        right: 49px; }
      #game #ui .zone #chips .chip.yellow {
        right: 0px; }
    #game .card {
      font-size: 1.5em;
      position: relative;
      width: 220px;
      height: 337.333333px; }
      #game .card .icons {
        display: none; } }
@media screen and (max-width: 480px) and (max-height: 320px) {
  #game h1 {
    margin: 2% auto 0 auto; }
  #game #ui {
    margin: -15% 0 0 0; }
    #game #ui .zone {
      height: 70%; } }
@media screen and (max-width: 320px) {
  #game {
    min-height: 420px;
    background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 260, from(#65981e), to(#184d08)); }
    #game h1 {
      font-size: 4em;
      margin: 2%;
      color: #2b4f05; }
    #game #ui {
      margin: -15% 0 0 0; }
      #game #ui .zone {
        padding: 1% 2%;
        height: 75%;
        max-height: 160px; }
        #game #ui .zone #bankroll {
          top: -3px;
          font-size: 4em; }
      #game #ui #chips .chip {
        padding: 4px;
        width: 30px !important;
        height: 30px;
        margin: 3px;
        border: 3px dashed #fff; }
        #game #ui #chips .chip span {
          font-size: 1em;
          line-height: 30px; }
        #game #ui #chips .chip.red {
          right: 98px; }
        #game #ui #chips .chip.blue {
          right: 49px; }
        #game #ui #chips .chip.yellow {
          right: 0px; }
    #game .card {
      font-size: 1.5em;
      position: relative;
      width: 150px;
      height: 230px; }
      #game .card .icons {
        display: none; } }
